$background: #222222;
$font: #eeeeee;
$primary: #889188;
$secondary: #140002;
$accent: #43d1c5;

* {
  background: $background;
  color: $font;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
}

.list_none {
  list-style: none;
}

.accent_font {
  color: $accent;
}

h1 {
  @extend .accent_font;
  font-size: xx-large;
  text-align: center;
}

h2 {
  @extend .accent_font;
  font-size: x-large;
  text-align: center;
}

h3 {
  @extend .accent_font;
  font-size: large;
}

button {
  text-align: center;
}

.collapsible_button {
  @extend h2;
  border: none;
  margin: 5px;
  padding: 5px;
}

.collapsible_button:hover {
  @extend .collapsible_button;
  color: $secondary;
  border: solid 1px $accent;
  border-radius: 10px;
}

.experience_content {
  margin-right: 10%;
}

table {
  width: 100%;
}

.right {
  text-align: right;
}
