@tailwind base;
@tailwind components;
@tailwind utilities;

$background: #222222;
$font: #eeeeee;
$primary: #889188;
$secondary: #140002;
$accent: #43d1c5;

* {
  background: $background;
  color: $font;
  font-family: "Courier New", Courier, monospace;
}

.list_none {
  list-style: none;
}

.accent_font {
  color: $accent;
}

h1 {
  @extend .accent_font;
  font-size: xx-large;
}

h2 {
  @extend .accent_font;
  font-size: x-large;
  text-align: center;
}

h3 {
  @extend .accent_font;
  font-size: large;
}

table {
  width: 100%;
  border: solid 1px $primary;
  border-radius: 10px;
}

.right {
  text-align: right;
}
